<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>feedBackProj</display-name>
  <welcome-file-list>
    <welcome-file>./Login.html</welcome-file>
  </welcome-file-list>
  
  
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>org.cap.feedbackproj.controller.LoginController</servlet-class>
</servlet>

 <servlet-mapping>
 <servlet-name>LoginServlet</servlet-name>
 <url-pattern>/LoginServ</url-pattern>
 </servlet-mapping>
 
 
 <servlet>
<servlet-name>AddFacultyServlet</servlet-name>
<servlet-class>org.cap.feedbackproj.controller.AddFacultyController</servlet-class>
</servlet>

 <servlet-mapping>
 <servlet-name>AddFacultyServlet</servlet-name>
 <url-pattern>/addFaculty</url-pattern>
 </servlet-mapping>
 
  <servlet>
<servlet-name>HomeAdminServlet</servlet-name>
<servlet-class>org.cap.feedbackproj.controller.HomeAdminController</servlet-class>
</servlet>

 <servlet-mapping>
 <servlet-name>HomeAdminServlet</servlet-name>
 <url-pattern>/faculSkill</url-pattern>
 </servlet-mapping>
 

 
 <servlet>
<servlet-name>ViewFacultyServlet</servlet-name>
<servlet-class>org.cap.feedbackproj.controller.ViewFacultyController</servlet-class>
</servlet>

 <servlet-mapping>
 <servlet-name>ViewFacultyServlet</servlet-name>
 <url-pattern>/viewFaculty</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>AddCourseServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.AddCourseController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AddCourseServlet</servlet-name>
 <url-pattern>/addCourse</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>ViewCourseServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.ViewCourseController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ViewCourseServlet</servlet-name>
 <url-pattern>/viewCourse</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>UpdateCourseServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.UpdateCourseController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>UpdateCourseServlet</servlet-name>
 <url-pattern>/UpdateCourse</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>AddTPrgmServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.AddTrainingProgramController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AddTPrgmServlet</servlet-name>
 <url-pattern>/addPrgm</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>ViewTPrgmServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.ViewTrainingProgramController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ViewTPrgmServlet</servlet-name>
 <url-pattern>/viewPrgm</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>UpdateTPrgmServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.UpdateTrainingProgramController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>UpdateTPrgmServlet</servlet-name>
 <url-pattern>/updatePrgm</url-pattern>
 </servlet-mapping>
 
   <servlet>
 <servlet-name>DeleteTPrgmServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.DeleteTrainingProgramController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>DeleteTPrgmServlet</servlet-name>
 <url-pattern>/deletePrgm</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>AddParticipantServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.AddParticipantController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AddParticipantServlet</servlet-name>
 <url-pattern>/addParticipant</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>ViewParticipantServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.ViewParticipantController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ViewParticipantServlet</servlet-name>
 <url-pattern>/viewParticipant</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>DeleteParticipantServlet</servlet-name>
 <servlet-class>org.cap.feedbackproj.controller.DeleteParticipantController</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>DeleteParticipantServlet</servlet-name>
 <url-pattern>/deleteParticipant</url-pattern>
 </servlet-mapping>
</web-app>